* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.WhatsApp {
  position: fixed;
  top: 50%;
  border: solid;
  height: 50px;
  width: 50px;
  background-color: #282c34;
  padding: 5px;
  border-radius: 0px 5px 5px 0px;
  z-index: 1000;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
  user-select: none;

}
.WhatsApp:hover {
  width: 130px;
}
.WhatsApp:hover.WhatsApp a span  {
  opacity:1;
display: block;

}
.WhatsApp a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  /* border: solid; */
  width: 100px;
  text-decoration: none;
  color: white;
}
.WhatsApp a span {
display: none;
/* opacity:0; */
font-weight: 400;
text-transform: uppercase;
width: 60px;

transition: all 0.5s ease;
}
.WhatsApp a img {
  width: 30px;
  height: 30px;
  opacity: 0.6;
  /* margin-left: 5px; */
  transition: all 0.3s ease;
}
.WhatsApp:hover.WhatsApp a img{

  opacity: 1;
}
